<a href="https://colab.research.google.com/github/123kanchan/duplicates/blob/main/duplicates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [19]:

pf=pd.DataFrame({'A': ['a','a','b','c','c','c','c','d','d','e'],
                 'B': ['1','1','2','3','3','3','4','5','5','5'],
                'C':['A','A','E','P','P','O','O','C','C','I']
                 })

In [20]:
pf

   A  B  C
0  a  1  A
1  a  1  A
2  b  2  E
3  c  3  P
4  c  3  P
5  c  3  O
6  c  4  O
7  d  5  C
8  d  5  C
9  e  5  I

In [22]:
any(pf['A'].duplicated())

True

In [24]:
print (pf, '\n')
print(pf['A'].duplicated())

   A  B  C
0  a  1  A
1  a  1  A
2  b  2  E
3  c  3  P
4  c  3  P
5  c  3  O
6  c  4  O
7  d  5  C
8  d  5  C
9  e  5  I

0    False
1     True
2    False
3    False
4     True
5     True
6     True
7    False
8     True
9    False
Name: A, dtype: bool

In [25]:
pf_dup=pf.copy()
pf_dup['D']=pf.duplicated()
pf_dup

   A  B  C      D
0  a  1  A  False
1  a  1  A   True
2  b  2  E  False
3  c  3  P  False
4  c  3  P   True
5  c  3  O  False
6  c  4  O  False
7  d  5  C  False
8  d  5  C   True
9  e  5  I  False

In [26]:
pf.drop_duplicates()

   A  B  C
0  a  1  A
2  b  2  E
3  c  3  P
5  c  3  O
6  c  4  O
7  d  5  C
9  e  5  I

In [27]:
pf2=pf.copy()
pf2

   A  B  C
0  a  1  A
1  a  1  A
2  b  2  E
3  c  3  P
4  c  3  P
5  c  3  O
6  c  4  O
7  d  5  C
8  d  5  C
9  e  5  I

In [29]:
pf2['A'].drop_duplicates()

0    a
2    b
3    c
7    d
9    e
Name: A, dtype: object

In [30]:
pf2['B'].drop_duplicates()

0    1
2    2
3    3
6    4
7    5
Name: B, dtype: object